---
import "~/styles/globals.scss";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import SeoMeta from "~/components/SeoMeta.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
  ogType?: "website" | "article";
  date?: Date | string;
  lastModified?: Date | string;
  showCanonical?: boolean;
  bodyClass?: string;
  hideHeader?: boolean;
}

const {
  title,
  description,
  image,
  ogType,
  date,
  lastModified,
  showCanonical,
  bodyClass = "light",
  hideHeader = false,
} = Astro.props;
---

<!doctype html>
<html lang="en" class={bodyClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <SeoMeta
      title={title}
      description={description}
      image={image}
      ogType={ogType}
      date={date}
      lastModified={lastModified}
      showCanonical={showCanonical}
    />
  </head>
  <body class={bodyClass}>
    <div class="wrapper relative min-h-screen w-full bg-grey dark:bg-dark-300">
      {!hideHeader && <Header />}
      <main class="page-content relative bg-grey bg-opacity-95">
        <div class="sitedata relative z-30 min-h-screen">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
